.meuRT table, th, td{
    padding: 5px 20px 5px 20px;
    border-collapse: collapse;
    border: 10px solid rgb(85, 83, 79);
}

.meuRt table{
    width: 100%;
    
}

.meuRT th{
    background-color: #ac7344;
}

.meuRT tr:nth-child(odd){
    background-color: #f0d9b5;
}

.meuRT tr:nth-child(even){
    background-color: #cea67c;
}

