@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 5px;
    background: black;
}

::-webkit-scrollbar-thumb{
    background-color: #ac7344;
    border-radius: 10px;
}